/*
Color Palette 
1st #CBD5BD, light green 
2nd #F7E3DA, light peach
3rd #FF849E, accent color pink


*/

body {
		background: url("../img/bg.png")
		font-family: 'Allerta', sans-serif;
}

h1 {
	color: #CBD5BD; 
}

/* Help Classes */
.showgrid {
	background: url("../img/12_col.gif") !important;
}